.header {
  background-color: #15223b;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  margin: 0;
  padding: 10px;
  color: white;
}
.header > h2 {
  margin: 0;
  padding: 0;
}

@media screen and (max-width: 769px) {
  .header {
    width: 100%;
    border-radius: 0px;
  }
}
